@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: url('https://images.unsplash.com/photo-1516750105099-4a874a6a689d?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwyMDg5NTB8MHwxfGFsbHwxfHx8fHx8fHwxNjEwNzEyNjMy&ixlib=rb-1.2.1&q=80&w=1080') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    backdrop-filter: blur(5px);
}

.container {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    max-width: 700px;
    width: 100%;
    text-align: center;
    position: relative;
}

.container:before {
    content: '';
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    background: url('https://i.imgur.com/lL3wG4T.png') repeat;
    border-radius: 15px;
    z-index: -1;
    opacity: 0.2;
}

h1 {
    margin-bottom: 20px;
    color: #76c7c0;
    font-family: 'Permanent Marker', cursive;
    font-size: 36px;
    text-shadow: 2px 2px #2c3e50;
}

.input-group {
    display: flex;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    overflow: hidden;
}

.input-group input {
    flex: 1;
    padding: 10px;
    border: none;
    font-size: 16px;
    background-color: #fff;
    color: #2c3e50;
    border-radius: 0;
}

.input-group button {
    padding: 10px 20px;
    border: none;
    background: #1abc9c;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
}

.input-group button i {
    margin-left: 10px;
}

.input-group button:hover {
    background: #16a085;
}

.link-list {
    margin-top: 20px;
}

.link-item {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border: 1px solid #76c7c0;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: left;
    display: flex;
    align-items: center;
    color: #fff;
}

.link-item .link-image {
    margin-right: 20px;
    flex-shrink: 0;
}

.link-item .link-image img {
    max-width: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.link-item .link-details {
    flex: 1;
}

.link-item h2 {
    margin: 0 0 10px;
    font-size: 24px;
    font-weight: 700;
    text-shadow: 1px 1px #2c3e50;
}

.link-item p {
    font-size: 16px;
    margin: 0 0 10px;
}

.link-item a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #1abc9c;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.link-item a:hover {
    background: #16a085;
}
