@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(45deg, #4caf50, #2e7d32);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    max-width: 700px;
    width: 100%;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #fff;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 36px;
}

.input-group {
    display: flex;
    margin-bottom: 20px;
}

.input-group input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    background-color: #fff;
    color: #2c3e50;
}

.input-group button {
    padding: 10px 20px;
    border: none;
    background: #27ae60;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
}

.input-group button:hover {
    background: #2ecc71;
}

.link-list {
    margin-top: 20px;
}

.link-item {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border: 1px solid #27ae60;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: left;
    display: flex;
    align-items: center;
    color: #fff;
}

.link-item .link-image {
    margin-right: 20px;
}

.link-item .link-image img {
    max-width: 100px;
    border-radius: 10px;
}

.link-item .link-details {
    flex: 1;
}

.link-item h2 {
    margin: 0 0 10px;
    font-size: 24px;
    font-weight: 700;
}

.link-item p {
    font-size: 16px;
    margin: 0 0 10px;
}

.link-item a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #27ae60;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.link-item a:hover {
    background: #2ecc71;
}
